# =========================
# Fichiers LaTeX (Compilation)
# =========================
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv
*-blx.bib
*.run.xml

# =========================
# Fichiers Python & Scripts
# =========================
__pycache__/
*.py[cod]
*$py.class
env_recherche/
.env

# =========================
# Fichiers OS & Système
# =========================
.DS_Store
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/